{{ with .Site.Params.ads }}
<section class="widget">
    <h3 class="widget-title" style="color:red">支持我</h3>
    <ul class="widget-list">
        {{ range . }}
        <li>
            <a href="{{ .url }}" title="{{ .title }}" target="_blank" style="color:red">
                {{ if .img }}
                    <img src="{{ .img }}">
                {{ else }}
                    {{ .title }}
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}